body {
    font-family: Helvetica;
    background-color: #FADADD;
}

#debtors-modal {
    display: none; /* Hidden by default */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

#debtors-modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #22073d;
    text-align: center;
    border-radius: 10px;
}

#top-bar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 10px;
    background-color: #220638;
    color: #fff;
    font-size: 2em;
    font-weight: bolder;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#quick-menu {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #FADADD;
    color: #fff;
    position: relative;
    top: 100px;
}

#quick-menu button {
    background-color: #090451;
    color: #fff;
    border: #007;
    padding: 30px 40px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 100px;
    font-size: large;
    font-weight: bold;
}

#content {
    padding: 20px;
}

.modal-content {
    background-color: #FADADD;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.close {
    float: right;
    cursor: pointer;
}

#calculator-wrapper {
    display: flex;
    justify-content: space-between;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    background-color: #a800c2;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

#history {
    margin-left: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

#history div {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #007bff;
    color: #fff;
    margin-bottom: 5px;
}

#history div:hover {
    background-color: #0056b3;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#debtors-table {
    width: 100%;
    border-collapse: collapse;
}

#debtors-table th, #debtors-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#debtors-table th {
    background-color: #f2f2f2;
    text-align: left;
}

#footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
