.div1{
    text-align: center;
    
}
body{
    margin: 0px;
}
.slideshow-container {
    border: #0747b0 3px;
    border-radius:10px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.slideshow-images {
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
}
.slideshow-images img {
    width: 25%;
}
@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    100% { transform: translateX(0%); }
}


.headerdiv{
    background-color:#0747b0;
    color: white;
}

.headerdiv a{
    color: aliceblue;
    text-decoration: none;
    height: 200px;
}

.navdiv{
 text-align: center;
 margin-top: 10px;
 padding: 10px;
 background-color: rgb(218, 144, 5);
}
.navdiv a{
    margin: 0 15px;
    color: black;
    text-decoration: none;
}
#unyama{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
}
#footer{
    background-color: #0747b0;
    color: aliceblue;
}
.ubaya img{
    border: 20px 20px #333333
}
#tax{
    float: left;
    margin: 10px;
    border-radius: 8px;
    border-color: #0747b0;
}
span{
    color: rgb(29, 112, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
#udomlogo{
    position:relative;
    top: 20px;
    left: 20px;
}
#tzlogo{
    position: relative;
    right: 20px;
}
.ubuntu{
    text-decoration: none;
    color: rgb(32, 32, 171);
    font-size: normal;
    font-style: italic;
    font-weight: bold;
}
 a:hover{
    color:aqua ;
    font-size: 1.05em;
}
.events a{
    text-decoration: none;
    color: blue;
    font-weight: bold ;
}

#udoml{
    float: right;
    margin-right: 10px;
    border-radius: 2px;
    border-color: #24262b;
}
.icon{
    width: 25px;
    height: 25px;
    position: relative;
    top: 9px;

}
fieldset{
    border-color: orange;
    border-width: 5px;
    
}
@media (max-wdth:600px) {
    head,body,main,fieldset{
        width:100%
    }
}
.onetwo{
    color: black;
    font-size: small;
}